/* General page here */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0, #ffffff, #91e29e, #41d159);
}

/* Style the page container */
.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the page height to the viewport height */
}

/* Style the header section with a light green background */
.header {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack the image and name vertically */
  align-items: center;
  justify-content: center; /* Center horizontally and vertically */
}
.image-container {
  display: flex;
  align-items: center;
}

.image {
  max-width: 20%; /* Set the image width to 100% of its container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any inline spacing */
  margin: 0px; /* Center the image horizontally */
  border: 2px solid #000; /* Add a border */
}

/* Style the title name */
.name {
  text-align: center;
  width: 90%;
  font-size: 60px;
}

/* Style the footer with a blue background */
.footer {
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: auto;
  background-color: rgb(157, 222, 248);
  color: black;
  text-align: center;
  padding: 20px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}
/*.button-SignUp-container {

  padding-top: 150px;
  padding-left: 50%;
  margin: 0;
  padding-bottom: -20px;
}

.SignUp-button {
  margin: 0;
  background-color: #b0c988;
  height: 100px;
  width: 200px;
} 
*/

.button-Login-container {
  /* other styles */
  padding-top: 150px;
  padding-left: 20%;
  margin: 0;
  padding-bottom: -10px;
}

.SignUp-button {
  margin: 0 200px 0 0; /* Add more margin on the right side to increase space between buttons */
  background-color: #b0c988;
  height: 100px;
  width: 200px;
}

.Login-button {
  margin: 0 300px 0 0; /* Add more margin on the right side to increase space between buttons */
  background-color: #b0c988;
  height: 100px;
  width: 200px;
}
